* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f3f9f7;
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    justify-content: space-between;
    overflow: hidden;
}

/*--------------------------------------------------------body-----------------------------------------------*/

.thèmes {
    color: #86AC9C;
}

nav {
    background-color: #f3f9f7 ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 150px;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav .logo {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

nav ul a {
    position: relative;
    text-decoration: none;
    margin-left: 50px;
    color: black;
    font-size: 20px;
}

nav ul a:before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

nav ul a:hover:before {
    width: 100%;
}

/*--------------------------------------------------------navbar-----------------------------------------------*/

.texte {
    width: 50%;
    height: 100vh;
}

.texte h1 {
    font-size: 80px;
    line-height: 110px;
}

.changez {
    padding: 154.4px 0 0 0;
}

.changezsuite {
    padding: 0 0 90px 0;
}

.texte p {
    font-size: 18px;
    padding: 10px 0;
}

.bouton1 {
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 50px;
    background-color: #E6DBE0;
    border: none;
}

.bouton2 {
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: #86AC9C;
    border: none;
}

/*--------------------------------------------------------texte-----------------------------------------------*/

.boxes {
    position: relative;
    height: 100vh;
    width: 490px;
}

.box {
    position: absolute;
    border-radius: 10px;
}

.item1 {
    top: 70px;
    left: -70%;
    width: 60px;
    height: 60px;
    background-color: #E6DBE0;
}

.item2 {
    top: 140px;
    left: -65%;
    width: 90px;
    height: 30px;
    background-color: #63927E;
}

.item3 {
    top: 130px;
    left: -20%;
    width: 200px;
    height: 50px;
    background-color: #E6DBE0;
}

.item4 {
    top: 200px;
    left: 0%;
    width: 350px;
    height: 300px;
    background-color: #86AC9C;
}

.item5 {
    top: 175px;
    left: 40%;
    width: 200px;
    height: 20px;
    background-color: #E6DBE0;
}

.item6 {
    top: 200px;
    left: 75%;
    width: 120px;
    height: 120px;
    background-color: #0C080A;
}

.item7 {
    top: 470px;
    left: 75%;
    width: 120px;
    height: 70px;
    background-color: #0C080A;
}

.item8 {
    top: 520px;
    left: 15%;
    width: 180px;
    height: 180px;
    background-color: #E6DBE0;
}

.item9 {
    top: 550px;
    left: 55%;
    width: 160px;
    height: 250px;
    background-color: #63927E;
}

.item10 {
    top: 715px;
    left: 0%;
    width: 254px;
    height: 140px;
    background-color: #86AC9C;
}

.item11 {
    top: 520px;
    left: -10%;
    width: 40px;
    height: 180px;
    background-color: #0C080A;
}

/*--------------------------------------------------------items-----------------------------------------------*/

.content {
    position: absolute;
    display: none;
    width: 250px;
    height: 100px;
    background-color: #f3f9f7;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transform: translateX(-15px);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sous-content1 {
    position: relative;
    display: flex;
    flex-direction: row;
}

.sous-content2 {
    position: relative;
    display: flex;
    flex-direction: row;
}

.menu-switchmode:hover .content {
    display: flex;
}

.switchmode {
    cursor: pointer;
}

.couleurs {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: red;
    margin: 0 8px 0 8px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.couleurs:hover {
    transform: scale(1.1);
}

.couleur1 {
    background-color: #5f3a46;
}

.couleur2 {
    background-color: #6b4b33;
}

.couleur3 {
    background-color: #b6e2cf;
}

.couleur4 {
    background-color: #a3b9d1;
}

.couleur5 {
    background-color: #f16532;
}

.couleur6 {
    background-color: #4a60a1;
}

.couleur7 {
    background-color: #f29ca3;
}

.couleur8 {
    background-color: #454545;
}

/*--------------------------------------------------------couleurs-----------------------------------------------*/


.color1.active1 {/* bgc */
    background-color: #e6efed;
}

.color2.active1 {/* gros bloc */
    background-color: #3a585f;
}

.color2_span.active1 {/* texte */
    color: #3a585f;
}

.color2_texte.active1 {/* texte */
    color: #e6efed;
}

.color3.active1 {/* rectangle en bas à droite */
    background-color: #61739e;
}

.color4.active1 { /* 1er bouton */
    background-color: #dfe3ec;
}



.color1.active2 {/* bgc */
    background-color: #f0e7e0;
}

.color2.active2 {/* gros bloc */
    background-color: #6b4b33;
}

.color2_span.active2 {/* texte */
    color: #6b4b33;
}

.color2_texte.active2 {/* texte */
    color: #f0e7e0;
}

.color3.active2 {/* rectangle en bas à droite */
    background-color: #8a6142;
}

.color4.active2 { /* 1er bouton */
    background-color: #decaba;
}



.color1.active3 {
    background-color: #f3f9f7;
}

.color2.active3 {
    background-color: #86ac9c;
}

.color2_span.active3 {
    color: #86ac9c;
}

.color2_texte.active3 {
    color: #000;
}

.color3.active3 {
    background-color: #63927e;
}

.color4.active3 {
    background-color: #e6dbe0;
}



.color1.active4 {/* bgc */
    background-color: #f1f5f8;
}

.color2.active4 {/* gros bloc */
    background-color: #a3b9d1;
}

.color2_span.active4 {/* texte */
    color: #a3b9d1;
}

.color2_texte.active4 {/* texte */
    color: #000;
}

.color3.active4 {/* rectangle en bas à droite */
    background-color: #557eaa;
}

.color4.active4 { /* 1er bouton */
    background-color: #dde5ee;
}


.color1.active5 {/* bgc */
    background-color: #fef1ec;
}

.color2.active5 {/* gros bloc */
    background-color: #f16532;
}

.color2_span.active5 {/* texte */
    color: #f16532;
}

.color2_texte.active5 {/* texte */
    color: #000;
}

.color3.active5 {/* rectangle en bas à droite */
    background-color: #c43e0e;
}

.color4.active5 { /* 1er bouton */
    background-color: #f9bba4;
}



.color1.active6 {/* bgc */
    background-color: #fcfdfd;
}

.color2.active6 {/* gros bloc */
    background-color: #4a60a1;
}

.color2_span.active6 {/* texte */
    color: #4a60a1;
}

.color2_texte.active6 {/* texte */
    color: #dfe4ee;
}

.color3.active6 {/* rectangle en bas à droite */
    background-color: #5e489d;
}

.color4.active6 { /* 1er bouton */
    background-color: #d2cbe7;
}


.color1.active7 {/* bgc */
    background-color: #fdedee;
}

.color2.active7 {/* gros bloc */
    background-color: #f29ca3;
}

.color2_span.active7 {/* texte */
    color: #f29ca3;
}

.color2_texte.active7 {/* texte */
    color: #000;
}

.color3.active7 {/* rectangle en bas à droite */
    background-color: #d71d2d;
}

.color4.active7 { /* 1er bouton */
    background-color: #f8c9cd;
}


.color1.active8 {/* bgc */
    background-color: #fafafa;
}

.color2.active8 {/* gros bloc */
    background-color: #a3a1a5;
}

.color2_span.active8 {/* texte */
    color: #a3a1a5;
}

.color2_texte.active8 {/* texte */
    color: #000;
}

.color3.active8 {/* rectangle en bas à droite */
    background-color: #70726e;
}

.color4.active8 { /* 1er bouton */
    background-color: #d7d5d5;
}

/*---------------------------------------------------changements de couleur-------------------------------*/
